@font-face {
  font-family: 'Digikala';
  font-style: normal;
  font-weight: 200;
  src: local('Digikala'), url("../../Fonts/Digikala.ttf") format('woff');
}

@font-face {
    font-family: 'IranianSans';
    font-style: normal;
    font-weight: 200;
    src: local('IranianSans'), url("../../Fonts/IranianSans.ttf") format('woff');
  }
  